/*--------------------------------------------------------------
# Additional Modal CSS
--------------------------------------------------------------*/

.modal .modal-dialog .modal-body .container {
  padding: 100px 100px;
}
.modal .modal-dialog .modal-body .container h4 {
  margin-bottom: 30px;
  font-size: 32px;
  font-family: "Raleway", "Noto Serif KR", sans-serif;
}
.modal .modal-dialog .modal-body .container p {
  font-family: "Open Sans", "Noto Sans Kr", sans-serif;
  line-height: 1.8;
}
.modal .modal-dialog .modal-footer {
  font-family: "Open Sans", "Noto Sans Kr", sans-serif;
  font-size: 14px;
}
.modal .modal-dialog .modal-footer .popup-check {
  text-decoration: none;
  color: #777777;
  transition: 0.3s;
  line-height: 1;
}
.modal .modal-dialog .modal-footer a {
  text-decoration: none;
  color: #777777;
  display: inline-block;
  transition: 0.3s;
  line-height: 1;
}
.modal .modal-dialog .modal-footer a:hover {
  text-decoration: none;
  color: #009970;
}

